# Object files
*.o
*.obj

# Libraries
*.lib
*.a
*.s
*.i
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Executables
*.exe
*.out
*.app

# Kernel Module Compile Results
*.swp
*.class
bin/*
lib/*

examples/*
!examples/*.c
